In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import boto3
import fuzzywuzzy
import warnings
import sklearn
import matplotlib

warnings.filterwarnings('ignore')

pd.set_option("display.max_columns", 50)

In [22]:
bucket = 's3://ads508-imdb-data1'

names = pd.read_csv(f'{bucket}/ImdbName.csv')
akas = pd.read_csv(f'{bucket}/ImdbTitleAkas.csv')
titles = pd.read_csv(f'{bucket}/ImdbTitleBasics.csv')
crew = pd.read_csv(f'{bucket}/ImdbTitleCrew.csv')
episode = pd.read_csv(f'{bucket}/ImdbTitleEpisode.csv')
principals = pd.read_csv(f'{bucket}/ImdbTitlePrincipals.csv')
ratings = pd.read_csv(f'{bucket}/ImdbTitleRatings.csv')
plots = pd.read_csv(f'{bucket}/movies_initial.csv')
netflix = pd.read_csv(f'{bucket}/NetFlix.csv')

In [23]:
#names.shape, akas.shape, titles.shape, crew.shape, episode.shape, principals.shape, ratings.shape, plots.shape, netflix.shape

In [24]:
#data_top = netflix.head()
#list(netflix.columns)

In [58]:
#empty dataframe
df = pd.DataFrame(columns = ['Netflix', 'IMDB','same'])
# filled empty df with titles
df['Netflix'] = netflix['title']
df['IMDB'] = titles ['originalTitle']
df['same'] = df['Netflix']
df

,Netflix,IMDB,same
0,3%,Carmencita,3%
1,1920,Le clown et ses chiens,1920
2,3 Heroines,Pauvre Pierrot,3 Heroines
3,Blue Mountain State: The Rise of Thadland,Un bon bock,Blue Mountain State: The Rise of Thadland
4,Blue Planet II,Blacksmith Scene,Blue Planet II
...,...,...,...
7782,Blown Away,En defensa propia,Blown Away
7783,Blue Exorcist,En la sombra,Blue Exorcist
7784,Blue Is the Warmest Color,En pos de la ilusión,Blue Is the Warmest Color
7785,Blue Jasmine,The Enchanted Kiss,Blue Jasmine
7786,Blue Jay,Enlighten Thy Daughter,Blue Jay

In [80]:

# why comparing the lists doesnt work 
movies={}
for movie in df['same'] :
    if movie in titles ['originalTitle']:
        movies = "yes"
    else:
        movies = "no"
#print (movies)
df['same'] = movies
df

                                        Netflix                    IMDB same
0                                            3%              Carmencita   no
1                                          1920  Le clown et ses chiens   no
2                                    3 Heroines          Pauvre Pierrot   no
3     Blue Mountain State: The Rise of Thadland             Un bon bock   no
4                                Blue Planet II        Blacksmith Scene   no
...                                         ...                     ...  ...
7782                                 Blown Away       En defensa propia   no
7783                              Blue Exorcist            En la sombra   no
7784                  Blue Is the Warmest Color    En pos de la ilusión   no
7785                               Blue Jasmine      The Enchanted Kiss   no
7786                                   Blue Jay  Enlighten Thy Daughter   no

[7787 rows x 3 columns]

In [81]:
count = df['same'].value_counts()
count

no    7787
Name: same, dtype: int64

### String Compare

In [26]:
#from fuzzywuzzy import fuzz


#def Str_cmpr_pct():
#Str1 = store1
#Str2 = store2
#Distance = levenshtein_ratio_and_distance(Str1.lower(),Str2.lower())
#print(Distance)
#Ratio = levenshtein_ratio_and_distance(Str1.lower(),Str2.lower(),ratio_calc = True)
#print(Ratio)